.djOfcUiFbr .dijitCalendar {
    border: solid 1px #b5bcc7;
    border-collapse: separate;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    background-repeat: repeat-x;
    text-align: center;
    padding: 6px 5px 3px 5px;
}
.dj_ie6 .djOfcUiFbr .dijitCalendar {
    background-image: none;
}
.djOfcUiFbr .dijitCalendar img {
    border: none;
}
.djOfcUiFbr .dijitCalendarHover,
.djOfcUiFbr .dijitCalendar:hover,
.djOfcUiFbr .dijitCalendarActive {

    background-color: #abd6ff;
    border: solid 1px #759dc0;
}
.djOfcUiFbr .dijitCalendarMonthContainer th {
    text-align: center;
    padding-bottom: 4px;
    vertical-align: middle;
}
.djOfcUiFbr .dijitCalendarMonthLabel {
    color: #000000;
    font-size: 1.091em;
    padding: 0 4px;
}
.djOfcUiFbr .dijitCalendarIncrementControl {
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
}
.dj_ie6 .djOfcUiFbr .dijitCalendarIncrementControl {
}
.djOfcUiFbr .dijitCalendarIncrease {
    background-position: -18px 0;
}
.djOfcUiFbr .dijitCalendarArrowHover .dijitCalendarDecrease,
.djOfcUiFbr .dijitCalendarArrow:hover .dijitCalendarDecrease {
    background-position: -36px 0;
}
.djOfcUiFbr .dijitCalendarArrowHover .dijitCalendarIncrease,
.djOfcUiFbr .dijitCalendarArrow:hover .dijitCalendarIncrease {
    background-position: -55px 0;
}
.djOfcUiFbr .dijitCalendarArrowActive .dijitCalendarDecrease,
.djOfcUiFbr .dijitCalendarArrow:active .dijitCalendarDecrease {
    background-position: -72px 0;
}
.djOfcUiFbr .dijitCalendarArrowActive .dijitCalendarIncrease,
.djOfcUiFbr .dijitCalendarArrow:active .dijitCalendarIncrease {
    background-position: -91px 0;
}
.djOfcUiFbr .dijitA11ySideArrow {

    display: none;
}
.djOfcUiFbr .dijitCalendarDayLabelTemplate {
    padding-bottom: 0;
    text-align: center;
    border-bottom: 1px solid #b5bcc7;
    padding: 0 3px 2px;
}
.djOfcUiFbr .dijitCalendarDayLabel {
    padding: 0 4px 0 4px;
    font-weight: bold;
    font-size: 0.909em;
    text-align: center;
    color: #000000;
}
.djOfcUiFbr .dijitCalendarDateTemplate {
    background-color: #ffffff;
    border-bottom: none;
    padding-top: 0;
    font-size: 0.909em;
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    letter-spacing: .05em;
    text-align: center;
    color: #000000;
}
.dj_ie6 .djOfcUiFbr .dijitCalendarDateTemplate {
    background-image: none;
}
.djOfcUiFbr .dijitCalendarPreviousMonth,
.djOfcUiFbr .dijitCalendarNextMonth {
    background-color: #e5f2fe;
    background-image: none;
    border-bottom: solid 1px #d3d3d3;

}
.djOfcUiFbr .dijitCalendarDateTemplate .dijitCalendarDateLabel {
    text-decoration: none;
    display: block;
    padding: 10px;
    border: solid 1px #ffffff;

    background-color: rgba(171, 212, 251, 0);

    -webkit-transition-property: background-color, border;
    -moz-transition-property: background-color, border;
    transition-property: background-color, border;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
.djOfcUiFbr .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.djOfcUiFbr .dijitCalendarNextMonth .dijitCalendarDateLabel {
    color: #759dc0;
    border-color: #e5f2fe;

}
.djOfcUiFbr .dijitCalendarYearContainer {
    vertical-align: middle;
}
.djOfcUiFbr .dijitCalendarYearControl {
    padding: 1px 2px 2px 2px;
}
.djOfcUiFbr .dijitCalendarYearLabel {
    padding: 2px 0 0 0;
    margin: 0;
    font-size: 1.17em;
}
.djOfcUiFbr .dijitCalendarYearLabel span {

    vertical-align: middle;
}
.djOfcUiFbr .dijitCalendarSelectedYear {
    padding: 0 3px;
}
.djOfcUiFbr .dijitCalendarNextYear,
.djOfcUiFbr .dijitCalendarPreviousYear {
    padding: 1px 6px 1px 6px;
    font-size: 0.909em;
}
.djOfcUiFbr .dijitCalendarSelectedYear {
    font-size: 1.091em;
    color: #000000;
}
.djOfcUiFbr .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.djOfcUiFbr .dijitCalendarLite .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
    background-color: #abd6ff;
    border: solid 1px #759dc0;
    color: #000000;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.djOfcUiFbr .dijitCalendarNextYearHover,
.djOfcUiFbr .dijitCalendarNextYear:hover,
.djOfcUiFbr .dijitCalendarPreviousYearHover,
.djOfcUiFbr .dijitCalendarPreviousYear:hover {
    color: #000000;
    border: solid 1px #ffffff;
    padding: 0 5px 0 5px;

    background-color: #e5f2fe;
}
.djOfcUiFbr .dijitCalendarNextYearActive,
.djOfcUiFbr .dijitCalendarNextYear:active .djOfcUiFbr .dijitCalendarPreviousYearActive,
.djOfcUiFbr .dijitCalendarPreviousYear:active {
    border: solid 1px #759dc0;
    padding: 0 5px 0 5px;

    background-color: #7dbdfa;
}
.djOfcUiFbr .dijitCalendarActiveDate .dijitCalendarDateLabel,
.djOfcUiFbr .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
    background-color: #7dbdfa;
    border: solid 1px #ffffff;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.dj_ie6 .djOfcUiFbr .dijitCalendarActiveDate .dijitCalendarDateLabel {
    background-image: none;
}
.djOfcUiFbr .dijitCalendarSelectedDate .dijitCalendarDateLabel {
    color: #000000;
    background-color: #abd6ff;
    border-color: #759dc0;
}
.djOfcUiFbr .dijitCalendarDisabledDate .dijitCalendarDateLabel {
    color: #818181;
    text-decoration: line-through;
}
.djOfcUiFbr .dijitCalendar .dijitDropDownButton {
    margin: 0;
}
.djOfcUiFbr .dijitCalendar .dijitButtonText {
    padding: 1px 0 3px;
    margin-right: -4px;
}
.djOfcUiFbr .dijitCalendar .dijitDropDownButton .dijitButtonNode {
    padding: 0 3px 0 2px;
    border: solid 1px #b5bcc7;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent;
    background-image: none;
}
.djOfcUiFbr .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.djOfcUiFbr .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
    background-color: #e5f2fe;
    border: solid 1px #ffffff;
}
.djOfcUiFbr .dijitCalendarMonthMenu {
    border-color: #759dc0;
    background-color: #ffffff;
    text-align: center;
    background-image: none;
}
.djOfcUiFbr .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
    border-top: solid 1px #ffffff;

    border-bottom: solid 1px #ffffff;
    padding: 2px 0;
}
.djOfcUiFbr .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.djOfcUiFbr .dijitCalendarMonthMenu .dijitCalendarMonthLabelActive {
    border-color: #759dc0;
    border-width: 1px 0;
    background-color: #abd6ff;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #ffffff , endColorstr= #abd6ff );
}