.djOfcUiFbr .dijitTabContainerTop-tabs .dijitTabChecked{
	background-image:none;
}
.djOfcUiFbr .dijitTabChecked{
	background-image:none;
	background-color:#fff;
	border-top:4px solid #0078D7;
	color:#0078D7;
}

.djOfcUiFbr .dijitTab .tabLabel{
	outline:0;
} 

.djOfcUiFbr .ax-lineTabs .dijitTabContainer .dijitTab{
	background-image:inherit;
	background-color:transparent;
	border:0;
	box-shadow:none;
	padding:9px 15px;
	cursor:pointer;
}
.djOfcUiFbr .ax-lineTabs .dijitTabContainer .dijitTab:hover{
	background-color:#C7E0F4;
}
.djOfcUiFbr .ax-lineTabs .dijitTabContainerTop-tabs .dijitTabChecked{
	background-image:inherit;
	border-bottom:2px solid #0078D7;
	box-shadow:none;
}
.djOfcUiFbr .ax-lineTabs .dijitTabChecked{
	background-image:inherit;
	border:0;
	background-color:transparent;
	color:#0078D7;
}

.djOfcUiFbr .ax-lineTabs .dijitTab .tabLabel{
	outline:0;
}
.claro .dijitTabPaneWrapper{
	border:0;
}