.djOfcUiFbr .dijitTreeRow{
	padding-top:4px;
	padding-bottom:4px;
}
.djOfcUiFbr .dijitTreeLabel{
	outline:0;
}
.djOfcUiFbr .dijitTreeRowHover{
	background-color:#EFF6FC;
	background-image:inherit;
	border:0;
	padding-top:4px;
	padding-bottom:4px;
}
.djOfcUiFbr .dijitTreeRowSelected{
	background-image:inherit;
	border:0;
	padding-top:4px;
	padding-bottom:4px;
}